
/*Style of my portfolio*/

*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.hero {
    height: 100vh;
    width: 100%;
    background-color: rgb(36, 36, 36);

    /*url(../img/background-image.jpg);
    background-size: cover;
    background-position: center;*/
}
.selector::selection {
    color:white;
    background: #de5959;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 5%;
    padding-right: 8%;
}

.logo{
    color: white;
    font-size: 43px;
    letter-spacing: 1px;
    cursor: pointer;
}

span{
    color: #de5959;
    
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: #de5959;
    transition: .4s;
}

.btn {
    background-color: #de5959;
    color: white;
    text-decoration: white;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover{
    transform: scale(1.2);    
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 55px;
    cursor: pointer;
}
h3 {
    color: white;
    font-size: 30px;
    margin-bottom: 50px;
    cursor: pointer;
}
h4{
    color: #de5959;
    letter-spacing: 2px;
    font-size: 25px;
    cursor: pointer;
}
h1:hover{
    color: #de5959;
    transition: .4s;
}
span.developer:hover{
    color: #de5959;
    transition: .4s;
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: rgb(23, 21, 21);
}

.about img{
    margin-left: 80px;
}
.about-text {
    width: 550px;
}
.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    color: white;
    font-size: 65px;
    text-transform: capitalize;
    margin-bottom: 20px;
    cursor: pointer;
}
.about-text h2:hover{
    color: #de5959;
    transition: .4s;
}

.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text span{
    color: #de5959;
}

.about-text p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

/*.about-text button{
    background-color: #de5959;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    cursor: pointer;
}

.about-text button:hover{
    transform: scale(1.2);
}

.about-text button a{
    text-decoration: none;
    color: white;
}

cause: deleted button

*/  
.main img {
    border-radius: 13px 13px 13px 13px;
    box-shadow: 0px 0px 3px 3px rgb(23, 23, 23);
    cursor: pointer;
}

.service{
    background-color: rgb(36, 36, 36);
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color: white;
    font-size: 65px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
    cursor: pointer;
    text-transform: capitalize;
}

.title h2:hover{
    color: #de5959;
    transition: .4s;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{
    height: 400px;
    width: 335px;
    padding: 20px 35px;
    background: rgb(51, 51, 51);
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i{
    font-size: 50px;
    margin-bottom: 20px;
    display: block;
    text-align: 25px 0px;
    color: #de5959;
    cursor: pointer;
}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{

    color: white;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button{
    background-color: #de5959;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transform: .4s;
    cursor: pointer;
}

.card .button:hover{
    background-color: transparent;
    border: 2px solid #de5959;
    cursor: pointer;
}

.contact-me{
    width: 100%;
    height: 400px;
    background: rgb(36, 36, 36);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#contact-me{
    margin-top: 125px;

}

.contact-me p{
    color: white;
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact-me .button-two{
    background-color: #de5959;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    margin-bottom: 130px;
}

.contact-me .button-two:hover{
    background-color: transparent;
    border: 2px solid #de5959;
    cursor: pointer;
}

#text-contact{
    font-size: 20px;
    text-align: left;
    padding-top: 18px;
    padding-bottom: 5px;
    cursor: pointer;
}

#title9{
    text-align: center;
}

.link-contact{
    text-decoration: none;
    color: white;
    transition: .4s;
}
.link-contact:hover{
    color: #de5959;
    transform: .4s;
}

#contact-me:hover{
    color: #de5959;
    transition: .4s;
    cursor: pointer;
}

/* footer */

footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: rgb(23, 23, 23);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1){
    font-size: 45px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p#title10:hover{
    color: #de5959;
    transform: .4s;
    cursor: pointer;
}

footer p:hover{
    cursor: pointer;
}

footer p:nth-child(2){
    color: white;
    font-size: 29 px;
    width: 500px;
    text-align: center;
    line-height: 26px;   
}

.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #de5959;
    border-radius: 50%;
    margin: 22px;
    text-decoration: none;
    color: white;
}

footer .copyright{
    color: white;
    font-size: 18px;
}



/* URL : https://developeraki.github.io/akidev/ */